<div class="block block--financial-literacy">
  <h2 class="block-title">Consejos</h2>
  <p *ngIf="isLoading" class="tips-loading">Cargando consejos...</p>
  <p *ngIf="!isLoading && tips.length === 0" class="tips-empty">No hay consejos disponibles por el momento.</p>
  <div class="financial-tips-list" *ngIf="!isLoading && tips.length > 0">
    <app-financial-tips
      *ngFor="let tip of tips"
      [title]="tip.title"
      [shortDescription]="tip.shortDescription"
      [description]="tip.description"
      [imageSrc]="tip.imageSrc"
      [author]="tip.author"
      [authorTitle]="tip.authorTitle"
    >
    </app-financial-tips>
  </div>
</div>

