.block--transactions {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    box-sizing: border-box;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}