<div class="tracking-content">
  <app-month-navigator (monthChange)="onMonthChange($event)"></app-month-navigator>
  <app-balance [transactions]="allMonthTransactions"></app-balance>
  <app-charts-section
    [transactions]="filteredTransactions"
    [allTransactions]="allMonthTransactions"
    [prevMonthExpenses]="prevMonthExpenses"
    [prevMonthIncomes]="prevMonthIncomes"
    [selectedMonth]="selectedMonth"
    (transactionTypeChange)="onTransactionTypeChange($event)">
  </app-charts-section>
  <app-transaction-history
    [transactions]="filteredTransactions">
  </app-transaction-history>
</div>
