@import 'styles.scss';

.block--tools {
  padding: $spacer;
  display: flex;
  flex-direction: column;
  gap: $spacer-sm;

  .tools-title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $gray-800;
    margin-bottom: $spacer-sm;
  }
}
