<div class="charts-container">
  <!-- Pie Chart siempre visible con datos por defecto -->
  <div class="chart-section">
    <h3>Datos Financieros</h3>
    <app-pie-chart></app-pie-chart>
  </div>
</div>
<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>