<div class="transaction-card">
    <p>¡Añade al presupuesto!</p>
    <button
            class="sync-button"
            (click)="startSync()"
            title="Sincronizar transacción"
            type="button">
            Sincronizar
    </button>
    <div class="transaction-header">
        <span class="transaction-name"> {{ transaction.name }}</span>
        <span class="transaction-amount"> {{ transaction.amount |  currency:'COP':'symbol-narrow':'1.0-0' }}</span>
    </div>
    <div class="transaction-footer">
        <span class="transaction-date"> {{ transaction.date | date:'fullDate' }}</span>
        <span class="transaction-category"> {{ transaction.category }}</span>
    </div>
</div>