@import 'styles.scss';

.category-page {
  padding: $spacer-md;
  padding-bottom: calc(#{$touch-target} + #{$spacer-lg} + env(safe-area-inset-bottom));
}

.section-divider {
  height: 1px;
  background-color: $gray-200;
  margin: $spacer-md 0;
}