<app-header></app-header>

<main class="main-content">
    <div class="main-blocks">
      <section class="gap-content" *ngIf="activeTab === 'Home'">
        <app-transaction-history mode="home"></app-transaction-history>
        <app-register-button></app-register-button>
        <app-synchronization-card
          name="Paseo"
          [amount]="100000"
          date="01-10-25"
          category="Viajes">
        </app-synchronization-card>
        <app-financial-literacy></app-financial-literacy>
      </section>
      <section class="gap-content" *ngIf="activeTab === 'Tracking'">
        <app-tracking-content></app-tracking-content>
      </section>
      <section class="gap-content" *ngIf="activeTab === 'Create'">
        <app-chat-content></app-chat-content>
      </section>
      <section class="gap-content" *ngIf="activeTab === 'Learning'">
        <app-learning-content></app-learning-content>
      </section>
  </div>
</main>

<app-footer-tabs></app-footer-tabs>
<router-outlet />
