/* ========================================
   app.component.scss
   ======================================== */

@import 'styles.scss';

/* ============================================================
    MAIN APPLICATION STRUCTURE
    - Defines the general layout (header, content, footer)
    ============================================================ */
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: calc($header-height + $spacer) $spacer calc($footer-height + $spacer) $spacer;
  box-sizing: border-box;
  overflow-y: auto;
}

/* ============================================================
    BLOCK CONTAINER
   ============================================================= */
.main-blocks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ============================================================
    RESPONSIVE (TABLET / DESKTOP)
    ============================================================ */
@media (min-width: $breakpoint-md) {
  .main-content {
    align-items: center; /* vertically centres the content */
  }

  .main-blocks {
    max-width: 1200px;
  }

  .block {
    flex: 1; /* each block takes up equal proportional space */
  }
}
