<app-header></app-header>

<main class="main-content">
  <div class="main-blocks">
    <div class="block block--transactions">
      <div class="transactions-container">
        <h2>{{ activeTab }}</h2>
        <app-transaction-card></app-transaction-card>
        <app-transaction-card></app-transaction-card>
        <app-transaction-card></app-transaction-card>
      </div>  
    </div>
    
    <div class="block">
      <button class="register-btn">Register</button>
    </div>
  </div>
</main>

<app-footer-tabs (tabChange)="onTabChange($event)"></app-footer-tabs>

<router-outlet />
